/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  padding-top: 40px;
  padding-bottom: 20px;
}

ul.ml-auto {
	font-size: 15px;
}

ul.ml-auto, .jumbotron h1 {
	font-family: 'Arvo', serif;
}

.jumbotron {
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	color: white;
	background-position: center;
	background-image: url('../images/mountain.jpg');
}
  

.jumbotron h1 {
	margin-top: 0px;
	margin-bottom: 30px;
}

.jumbotron p {
	margin-bottom: 30px;
	padding: 0px 50px;
}

.btn-lg {
	font-size: 36px;
}

.navbar {
	max-height: 80px;
}

h1.display-4 {
	margin-top: 20px;
}

.jumbotron {
    height: 90vh;
}

.display-4 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
}

.btn {
	scroll-behavior: smooth;
}